*
    margin: 0
    padding: 0
    block-size: border-box

body
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    text-align: center
    background-image: linear-gradient(to right, #3f535800, rgba(150,200,200,1))

.input
    width: 70%
    display: inline-block
    margin-top: 20px
    .label-content
        text-align: left

.form-check
    display: inline-block

.container
    display: flex
    justify-content: space-around
    flex-direction: column
    height: 100%
    margin: 20% 20%

.title 
    h3
        border-radius: 20px
        color: white
        border: 1px solid rgba(150,200,200,1)
        padding: 20px 0
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue
    & a
        text-shadow: none
    
.inputs-row, .buttons
    display: flex

.btn 
    color: white
    margin-left: 10px
    &:hover
        color: white

.texterea .btn
    height: 40%


// @media only screen and (max-width: 1000px) 
//   body 
//     background-color: lightblue
  

//   .inputs-row 
//     display: flex
//     justify-content: center
//     flex-direction: column
  

// //   input[type='text'] 
// //     margin-bottom: 10px
  

//   .container 
//     margin: 0
//     padding-top: 0
  

//   .form-check 
//     text-align: left


  
a.help
    border-radius: 50%

#accordionExample
    margin-top: 20px

// div.toast
//     position: fixed

body
    position: relative

@media only screen and (max-width: 1000px) 
  body 
    display: none

// .toster
//     position: absolute
//     bottom: 0
//     right: 0
//     border: 1px solid black
//     width: 350px
//     border-radius: 10px
//     margin: 0 20px 20px 0
//     box-shadow: 0px 0px 30px black;
//     & p
//         margin: 10px 0;

div#toster 
  visibility: hidden
  width: 350px
  margin-left: -125px
  background-color: #333
  color: #fff
  text-align: center
  border-radius: 2px
  position: fixed
  z-index: 100000
  left: 10%
  bottom: 30px
  font-size: 17px
  
  & p
      margin: 10px 0


div#toster.show 
  visibility: visible
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s
  animation: fadein 0.5s, fadeout 0.5s 2.5s


@-webkit-keyframes fadein 
  from 
    bottom: 0 
    opacity: 0
  to 
    bottom: 30px
    opacity: 1


@keyframes fadein 
  from 
    bottom: 0
    opacity: 0
  to 
    bottom: 30px
    opacity: 1


@-webkit-keyframes fadeout 
  from 
    bottom: 30px
    opacity: 1
  to 
    bottom: 0
    opacity: 0


@keyframes fadeout 
  from 
    bottom: 30px
    opacity: 1
  to 
    bottom: 0
    opacity: 0
